# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Logs & Video Footage
logs/*.mp4
logs/*.jpg
logs/*.jsonl
logs/*.csv
logs/videos/*.mp4
logs/videos/*.avi
!logs/.gitkeep
!logs/videos/.gitkeep

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
